* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #f1f5fe;
    line-height: 60px;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.container {
    display: flex;
    max-width: 1600px;
    flex-direction: row;
}
div1 {

}

.HeaderButtons {
    font-family: 'Kanit', sans-serif;
    color: black;
    text-decoration: none;
    align-content: flex-start;
}


.mainlogo img {
    border-radius: 50%;
    cursor: pointer;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.color-text {
    color: #247FFF;

}
h1 {
    padding-left: 85px;
    width: 100%;
    font-family: 'Kaushan Script', cursive;
}
h2 {
    font-family: 'Montserrat', sans-serif;
}
input {
    height: 45px;
    width: 100%;
    color: #385983;
    font-size:14px;
    line-height:16px;
    border: 2px solid #e9f2ff;
    border-radius: 5px;
    padding-left: 25px;
    margin: 5px;
}
main {

    background: #f1f5fe;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.circle {
    position: absolute;
    margin-bottom: 40px;
    z-index: 1;
    width: 534px;
    height: 534px;
    border-radius: 50%;
    background: #f7faff;
    box-shadow: 0px 4px 70px 6px rgba(217, 229, 255, 0.25);
}
.icebergcirle {

}

.register-form-container {
    position: relative;
    z-index: 2;
    max-width: 415px;
    background: #ffffff;
    box-shadow:  0px 6px 50px rgba(217, 229, 255, 0.7);
    border-radius: 20px;
    padding: 50px;
}
.form-title {

    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 30px;
}
.form-field {
    margin: 10px;
}
.regButton {
    padding: 10px;
    margin-top: 10px;
    margin-left: 50px;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    display:flex;
    height: 45px;
    background-color: #247FFF;
    border-radius: 50px;
    width: 200px;
    color: #fff;
    cursor: pointer;
    align-items: center;
}
.regButton:hover {
    background-color: #0D6CF2;
}
a.regButton {
    text-decoration: none;
}
h2.form-title {
    font-size: 23px;
}
.error {
    border-bottom: 1px solid #ff4332;
}

.message {
    background-color: #247FFF;
    color: #fff;
    border: 2px solid black ;
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

.none {
    display: none;
}
.divider {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
.logo {
    width: 35px;
    height: 35px;
}
.mainlogo {

}
